@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* { margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; } 

.clearfix::before , .clearfix::after { clear: both; content: ''; display: block; } 

/* reset */

body { background-color: #e8f1c6; } 

ul { list-style: none; } 
a { text-decoration: none; color: white; } 

#wrap { width: 1200px; margin: 0 auto; height: 1800px; } 


/* header */

header { background-color: #6fa035; height: 65px; text-align: center; } 
header h1 { float: left; padding: 12px; margin: 0 25px; } 
header h1 img { width: 170px; } 
header nav { float: right; padding: 10px; width: 700px; } 

/* gnb */

#gnb li { float: left; width: 25%; text-align: center; } 
#gnb > li a { display: block; padding: 10px; font-size: 17px; } 
#gnb > li a:hover { color: #ddbd5b; transition: 0.5s; } 

/* gnb login */

#gnb li.login { line-height: 25px; } 

#gnb li.login a { font-size:12px; color: white; } 

#gnb li.login a:hover { color: #494949; transition: 0.2s; text-decoration: underline; } 

/* mori_look */


.mori_look_h { margin-top: 60px; text-align: center; } 

.mori_look_h h2 { font-size: 32px; } 

/* .tabNav */

.tabNav { text-align: center; padding: 30px 0 30px 0; } 

.tabNav li { display: inline-block; margin: 20px; } 

.tabNav li a { color: #36a201; } 

.tabNav li a.active:before { color: #103100; } 
.tabNav li a.active { color: #103100; font-weight: bold; } 

#item { text-align: center; } 
#subject { font-weight: bold; margin-top: 10px; font-size: 16px; } 
#comment { font-size: 13px; } 
#price { margin-top: 10px; font-weight: bold; font-size: 14px; } 

/* mori_look table */

table { margin: 0 auto; background-color: white; } 

td { padding: 20px 0 20px 0; } 

.tab_content ul { padding: 0 10px; margin: 0; } 

/* tab_content */

.tab_content img { width: 250px; } 

/* scrollTop 버튼 */

#scrollTop { width: 40px; height: 40px; text-align: center; border: 2px solid #359c02; border-radius: 50%; line-height: 20px; font-weight: bold; position: fixed; right: 100px; bottom: 120px; } 

#scrollTop:hover { background-color: #fff; border: 2px solid #359c02; cursor: pointer; transition: 0.5s; } 

#topimg { display: block; width: 20px; margin: 0 auto; padding-top: 10px; } 

/* footer */

#footer { background-color: #1e3910; height: 100px; width: 100%; } 
#footer h1 { padding: 0 50px; float: left; color: #d1d1d1; font-size: 15px; border-right: 2px solid #6e6e6e; line-height: 100px; } 

.copy { text-align: center; line-height: 100px; width: 1000px; float: left; color: #d1d1d1; font-size: 15px; } 

.sns { float: right; width: 200px; margin-top: 35px; text-align: center; } 
.sns li { float: left; width: 40px; } 
.sns img { width: 28px; } 